<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VPIService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TokenWebServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="TokenWebServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.volmacht.net/Webservices/UserManagement/TokenWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TokenWebServiceSoap2"
        contract="VolmachtVPITokenWebservice.TokenWebServiceSoap" name="TokenWebServiceSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <VPIService.Properties.Settings>
      <setting name="VPI_appKey" serializeAs="String">
        <value>vpi_at_unit4_Rx8yTM</value>
      </setting>
      <setting name="VPI_username" serializeAs="String">
        <value>VPI-TESTUnit4</value>
      </setting>
      <setting name="VPI_password" serializeAs="String">
        <value>TESTUnit4123#</value>
      </setting>
    </VPIService.Properties.Settings>
  </applicationSettings>
</configuration>